.container{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color:azure;
    background-image: url('https://wallpaperaccess.com/full/3257695.png');
    background-repeat: no-repeat;
    background-size: cover;
}